* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #b1151c, #b7003a, #b20059, #a2007a, #811099);
}
.container{
    margin: auto;

}

@media screen and (min-width: 576px ) {
    .container {
        width: 540px;
    }
}

@media screen and (min-width: 768px ) {
    .container {
        width: 750px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 50px 0;
}

section h2 {
    font-family: latobold;
    font-size: 36px;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.calculatorForm {
    width: 245px;
    margin: 0 auto;
    border: 1px solid fuchsia;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 20px fuchsia;
}

.calculatorForm table {
    border-spacing: 0;
}

.calculatorForm form input {
    outline: none;
    margin: 2px;
    border-radius: 5px;
    box-shadow: 0 0 30px red;
    background-color: #280c33;
    color: white;
    border: 1px solid fuchsia;
    font-family: orbitronregular;
}

.calculatorForm form input[type=text] {
    width: 221px;
    padding: 10px 5px;
    text-align: right;
    font-size: 20px;
}

.calculatorForm form input[type=button] {
    width: 50px;
    height: 45px;
    font-size: 24px;
}

.calculatorForm form input[type=button]:hover {
    cursor: pointer;
    background-color: #469f94;
    box-shadow: 0 5px 10px #F0FFFF;
}

.calculatorForm form input[name='0'] {
    width: 108px;
}

.calculatorForm form input[name='equality'] {
    height: 96px;
}